/* palette colors*/
body[data-route*="marketplace"] {
  /* messages page */
}
body[data-route*="marketplace"] .layout-side-section {
  padding-top: 25px;
  padding-right: 5px;
  padding-left: 25px;
}
body[data-route*="marketplace"] [data-route],
body[data-route*="marketplace"] [data-action] {
  cursor: pointer;
}
body[data-route*="marketplace"] .layout-main-section {
  border: none;
  font-size: 12px;
  padding-top: 25px;
}
@media (max-width: 767px) {
  body[data-route*="marketplace"] .layout-main-section {
    padding-right: 20px;
    padding-left: 20px;
  }
}
body[data-route*="marketplace"] input,
body[data-route*="marketplace"] textarea {
  font-size: 12px;
}
body[data-route*="marketplace"] .hub-image {
  height: 200px;
}
body[data-route*="marketplace"] .hub-image-loading,
body[data-route*="marketplace"] .hub-image-broken {
  content: " ";
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
body[data-route*="marketplace"] .hub-image-loading span,
body[data-route*="marketplace"] .hub-image-broken span {
  font-size: 32px;
  color: #ECEEF0;
}
body[data-route*="marketplace"] .progress-bar {
  background-color: #89da28;
}
body[data-route*="marketplace"] .subpage-title.flex {
  align-items: flex-start;
  justify-content: space-between;
}
body[data-route*="marketplace"] .hub-card {
  margin-bottom: 25px;
  position: relative;
  border: 1px solid #ECEEF0;
  border-radius: 4px;
  overflow: hidden;
}
body[data-route*="marketplace"] .hub-card:hover .hub-card-overlay {
  display: block;
}
body[data-route*="marketplace"] .hub-card.is-local.active .hub-card-header {
  background-color: #f4ffe5;
}
body[data-route*="marketplace"] .hub-card.is-local.active .octicon-check {
  display: inline;
}
body[data-route*="marketplace"] .hub-card.is-local .octicon-check {
  display: none;
  position: absolute;
  font-size: 20px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
body[data-route*="marketplace"] .hub-card-header {
  position: relative;
  padding: 12px 15px;
  height: 60px;
  border-bottom: 1px solid #ECEEF0;
}
body[data-route*="marketplace"] .hub-card-body {
  position: relative;
  height: 200px;
}
body[data-route*="marketplace"] .hub-card-overlay {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
body[data-route*="marketplace"] .hub-card-overlay-body {
  position: relative;
  height: 100%;
}
body[data-route*="marketplace"] .hub-card-overlay-button {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
body[data-route*="marketplace"] .hub-card-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body[data-route*="marketplace"] .hub-search-container {
  margin-bottom: 20px;
}
body[data-route*="marketplace"] .hub-search-container input {
  height: 32px;
}
body[data-route*="marketplace"] .hub-sidebar {
  padding-top: 25px;
  padding-left: 15px;
}
body[data-route*="marketplace"] .hub-sidebar-group {
  margin-bottom: 10px;
}
body[data-route*="marketplace"] .hub-sidebar-item {
  padding: 5px 8px;
  margin-bottom: 3px;
  border-radius: 4px;
  border: 1px solid transparent;
}
body[data-route*="marketplace"] .hub-sidebar-item.active,
body[data-route*="marketplace"] .hub-sidebar-item:hover:not(.is-title) {
  border-color: #ECEEF0;
}
body[data-route*="marketplace"] .hub-item-image {
  position: relative;
  border: 1px solid #ECEEF0;
  border-radius: 4px;
  overflow: hidden;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
}
body[data-route*="marketplace"] .hub-item-skeleton-image {
  border-radius: 4px;
  background-color: #fafbfc;
  overflow: hidden;
  height: 200px;
  width: 200px;
}
body[data-route*="marketplace"] .hub-skeleton {
  background-color: #fafbfc;
  color: #fafbfc;
  max-width: 500px;
}
body[data-route*="marketplace"] .hub-item-seller img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ECEEF0;
}
body[data-route*="marketplace"] .register-title {
  font-size: 14px;
}
body[data-route*="marketplace"] .register-form {
  border: 1px solid #ECEEF0;
  border-radius: 4px;
  padding: 15px 25px;
}
body[data-route*="marketplace"] .publish-area.filled .empty-items-container {
  display: none;
}
body[data-route*="marketplace"] .publish-area.empty .hub-items-container {
  display: none;
}
body[data-route*="marketplace"] .publish-area-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
body[data-route*="marketplace"] .hub-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ECEEF0;
  margin-bottom: -1px;
  overflow: hidden;
}
body[data-route*="marketplace"] .hub-list-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
body[data-route*="marketplace"] .hub-list-item:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
body[data-route*="marketplace"] .hub-list-left {
  display: flex;
  align-items: center;
  max-width: 90%;
}
body[data-route*="marketplace"] .hub-list-right {
  padding-left: 15px;
}
body[data-route*="marketplace"] .hub-list-image {
  position: relative;
  width: 58px;
  height: 58px;
  border-left: 1px solid #ECEEF0;
}
body[data-route*="marketplace"] .hub-list-image::after {
  font-size: 12px;
}
body[data-route*="marketplace"] .hub-list-body {
  padding: 12px 15px;
}
body[data-route*="marketplace"] .hub-list-title {
  font-weight: bold;
}
body[data-route*="marketplace"] .hub-list-subtitle {
  color: #8d99a6;
}
body[data-route*="marketplace"] .selling-item-message-card {
  max-width: 500px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #ECEEF0;
}
body[data-route*="marketplace"] .selling-item-message-card .selling-item-detail {
  overflow: auto;
}
body[data-route*="marketplace"] .selling-item-message-card .selling-item-detail .item-image {
  float: right;
  height: 80px;
  width: 80px;
  object-fit: contain;
  margin: 5px;
}
body[data-route*="marketplace"] .selling-item-message-card .selling-item-detail .item-name {
  margin-right: 10px;
}
body[data-route*="marketplace"] .selling-item-message-card .received-message-container {
  clear: right;
  background-color: #fafbfc;
}
body[data-route*="marketplace"] .selling-item-message-card .received-message-container .received-message {
  border-top: 1px solid #ECEEF0;
  padding: 10px;
}
body[data-route*="marketplace"] .selling-item-message-card .received-message-container .frappe-timestamp {
  float: left;
}
body[data-route*="marketplace"] .form-container .frappe-control {
  max-width: 100% !important;
}
body[data-route*="marketplace"] .form-message {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
}
body[data-route*="marketplace"] .hub-items-container .hub-items-header {
  justify-content: space-between;
  align-items: baseline;
}
body[data-route*="marketplace"] .hub-item-container {
  overflow: hidden;
}
body[data-route*="marketplace"] .hub-item-review-container {
  margin-top: calc(30vh);
}
body[data-route*="marketplace"] .hub-item-dropdown {
  margin-top: 20px;
}
body[data-route*="marketplace"] .message-list-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}
body[data-route*="marketplace"] .message-list-item:not(.active) {
  filter: grayscale(1);
  color: #8d99a6;
}
body[data-route*="marketplace"] .message-list-item:hover {
  background-color: #fafbfc;
}
body[data-route*="marketplace"] .message-list-item .list-item-left {
  width: 30px;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 15px;
}
body[data-route*="marketplace"] .message-list-item .list-item-body {
  font-weight: bold;
  padding-bottom: 1px;
}
body[data-route*="marketplace"] .message-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ECEEF0;
  border-radius: 3px;
  height: calc(100vh - 300px);
  justify-content: space-between;
  padding: 15px;
}
body[data-route*="marketplace"] .message-list {
  overflow: scroll;
}
