{% from "frappe/templates/includes/avatar_macro.html" import avatar %}
{% extends "templates/web.html" %}

{% block title %}
        {{ _("Title of page Rai HS") }}
{% endblock %}

{% block page_content %}
    <div class="my-account-container">
    <div class="row account-info d-flex flex-column">
        <div class="col d-flex justify-content-between align-items-center">
                <div>
                        <span class="my-account-avatar">
                                {{avatar(current_user.name)}}
                        </span>
                        <span class="my-account-name ml-4">
                                {{current_user.full_name}}
                        </span>
                </div>
        </div>
    </div>
    <h3 class="my-account-header">{{_("Institutes offering academic programs") }}</h3>
    <hr>

<div>
    <ol>
        {% for record in Rai %}
            {% set countProg = frappe.db.count('Program', filters={'department': ['like', '%' + record[1] + '%']}) %}
            <li>
                {% if countProg != 0 %}
                    <a href=coursesByschool?nickNS={{ record[1] }}>
                {% endif %}
                    {{record[0]}}{% if countProg != 0 %}</a>
                {% endif %}
                    | Classes Count {{ countProg }}
            </li>
        {% endfor %}
    </ol>
</div>

    </div>

{% endblock %}
